<div class="comments-detail">
    <div>
        <span class="comments-detail__name" data-testid="comment-username-testId"><strong>\{{name}}</strong></span>
        <span>\{{dateWithLocale}}</span>
    </div>
    <span><strong>\{{likes}} Likes</strong></span>
</div>
<p class="comments-body">\{{body}}</p>
